<div>
  <div class="justify-between items-center flex">
    <h4 class="text-gray-600 dark:text-gray-200 text-xl font-semibold">
      Continue Listening
    </h4>
    <!-- <a class="text-gray-500 text-sm" routerLink="/top-artists"> </a> -->
  </div>
  <div
    class="rounded-md shadow-md flex overflow-hidden my-4 bg-white dark:bg-dark"
  >
    <div
      class="h-[150px] w-[150px] flex items-center justify-center bg-gray-200 dark:bg-gray-800"
    >
      <img
        [src]="song?.album?.images?.[0]?.url"
        class="object-contain h-[150px]"
        *ngIf="song?.album; else songImgFallback"
      />
      <ng-template #songImgFallback>
        <i class="fa-solid fa-music text-gray-400 text-2xl"></i>
      </ng-template>
    </div>
    <div class="py-4 px-6 flex flex-1 flex-col justify-between relative">
      <div>
        <p class="font-[600] text-xl">{{ song?.name }}</p>
        <span class="text-gray-400 text-sm">{{ getNames() }}</span>
      </div>
      <div class="flex w-full items-end justify-between">
        <p class="text-sm">{{ getCurrentTime() }} / {{ getDuration() }}</p>
        <button
          class="p-1 w-10 h-10 rounded-full bg-orange-500 text-white"
          (click)="onTogglePlay()"
        >
          <i
            [ngClass]="{
              'fa-pause': songPlayer.isPlaying,
              'fa-play ml-[3px]': !songPlayer.isPlaying || !song
            }"
            class="fa-solid text-xl"
          ></i>
        </button>
      </div>

      <div
        class="bg-orange-500 h-1 absolute bottom-0 inset-x-0 w-0"
        #sliderProgress
      ></div>
    </div>
  </div>
</div>
