<div>
  <div class="justify-between items-center flex">
    <h4 class="text-gray-600 dark:text-gray-200 text-xl font-semibold">
      Your Top Songs
    </h4>
  </div>
  <loader [isLoading]="isLoading" [placeholderHeight]="250">
    <div class="flex gap-6 overflow-auto no-scrollbar my-4" draggableScroll>
      <item-card
        *ngFor="let song of songs"
        [title]="song.name"
        [image]="song.album?.images?.[0]?.url || ''"
        [subtitle]="getArtistNames(song.artists)"
        (click)="onPlaySong(song)"
        [isDisabled]="!song.preview_url"
      ></item-card>
    </div>
  </loader>
</div>
