<div>
  <div class="justify-between items-center flex">
    <h4 class="text-gray-600 text-xl font-semibold">Your Top Songs</h4>
    <a class="text-gray-500 text-sm" routerLink="/top-songs">Show more</a>
  </div>
  <loader [isLoading]="isLoading" [placeholderHeight]="250">
    <div class="flex gap-6 overflow-auto no-scrollbar my-4">
      <item-card
        *ngFor="let song of songs"
        [title]="song.name"
        [image]="song.album?.images?.[0]?.url || ''"
        [subtitle]="getArtistNames(song.artists)"
        (click)="onPlaySong(song)"
      ></item-card>
    </div>
  </loader>
</div>
