<div class="fixed bottom-0 left-[280px] right-0 z-20 bg-white">
  <div class="relative h-1 bg-gray-300">
    <!-- <div
      class="{{ 'bg-orange-500 absolute left-0 h-full top-0' + 'w-[' + '{{getDurationPercentage()}}'+ '%]' }}"
    ></div> -->
    <div class="relative h-full w-full flex">
      <input
        type="range"
        class="bg-gray-300 w-full cursor-pointer appearance-none rounded-lg border-transparent [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-2 [&::-webkit-slider-thumb]:h-2 [&::-webkit-slider-thumb]:cursor-pointer [&::-webkit-slider-thumb]:z-30 [&::-webkit-slider-thumb]:relative"
        min="0"
        max="30"
        [defaultValue]="0"
        #rangeInput
        step="0.0001"
        (input)="onChangeRange(rangeInput)"
      />
      <div
        class="absolute w-2 h-2 cursor-pointer bg-orange-500 rounded-md top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20"
        #sliderThumb
      ></div>
      <div
        class="absolute h-full top-1/2 bg-orange-500 -translate-y-1/2 left-0 pointer-events-none"
        #sliderProgress
      ></div>
    </div>
    <span class="absolute right-0 -bottom-5 text-xs pr-2"
      >{{ getCurrentTime() }} / {{ getDuration() }}</span
    >
  </div>

  <div class="flex items-center">
    <div class="h-16 w-16 flex items-center justify-center bg-gray-200">
      <img
        [src]="song.album.images[0].url"
        class="object-cover"
        *ngIf="song; else songImgFallback"
      />
      <ng-template #songImgFallback>
        <i class="fa-solid fa-music text-gray-400"></i>
      </ng-template>
    </div>
    <div class="px-6 flex w-full justify-between">
      <div class="flex flex-col w-[20%]">
        <p class="font-[600] text-sm mb-1">
          {{ song?.name || "No song playing" }}
        </p>
        <span class="text-xs text-gray-500">{{ getNames() }}</span>
      </div>
      <div class="flex items-center gap-4 justify-center flex-1 text-gray-400">
        <button class="mr-4" (click)="onToggleShuffle()">
          <i
            class="fa-solid fa-shuffle text-sm"
            [ngClass]="{ 'text-orange-500': isShuffle }"
          ></i>
        </button>

        <button (click)="onPlayPrev()">
          <i class="fa-solid fa-backward-step text-2xl"></i>
        </button>
        <button
          class="p-1 w-10 h-10 rounded-full bg-orange-500 text-white"
          (click)="onTogglePlay()"
        >
          <i
            [ngClass]="{
              'fa-pause': isPlaying,
              'fa-play ml-[3px]': !isPlaying || !song
            }"
            class="fa-solid text-xl"
          ></i>
        </button>
        <button (click)="onPlayNext()">
          <i class="fa-solid fa-forward-step text-2xl"></i>
        </button>

        <button class="ml-4 relative" (click)="onToggleRepeat()">
          <i
            class="fa-solid fa-repeat text-sm"
            [ngClass]="{
              'text-orange-500': repeatMode !== 'none',
            }"
          ></i>
          <span
            *ngIf="repeatMode === 'song'"
            class="absolute inset-0 flex items-center justify-center text-[6px] text-orange-500"
            >1</span
          >
        </button>
      </div>
      <div class="flex w-[30%] justify-end gap-4">
        <button>
          <i class="fa-regular fa-heart text-gray-500"></i>
        </button>
        <div class="flex items-center gap-3">
          <button (click)="onToggleMute()">
            <i
              class="fa-solid text-gray-500"
              [ngClass]="{
                'fa-volume-xmark': isMuted,
                'fa-volume-high': !isMuted,
              }"
            >
            </i>
          </button>
          <div
            class="h-2 rounded-full w-[100px] bg-gray-300 relative overflow-hidden"
          >
            <div class="relative h-full w-full flex">
              <input
                type="range"
                class="bg-gray-300 w-full cursor-pointer appearance-none rounded-lg border-transparent [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-3 [&::-webkit-slider-thumb]:h-3 [&::-webkit-slider-thumb]:cursor-pointer [&::-webkit-slider-thumb]:z-30 [&::-webkit-slider-thumb]:relative"
                min="0"
                max="1"
                step="0.01"
                #volumeInput
                (input)="onChangeVolume(volumeInput)"
              />
              <div
                class="absolute h-full top-1/2 bg-orange-500 -translate-y-1/2 left-0 pointer-events-none"
                #volumeProgress
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<audio class="hidden" [src]="song?.preview_url" autoplay #musicPlayer></audio>
