<div>
  <div class="justify-between items-center flex">
    <h4 class="text-gray-600 dark:text-gray-200 text-xl font-semibold">
      New Albums
    </h4>
    <a class="text-gray-500 dark:text-gray-300 text-sm" routerLink="/album"
      >Show more</a
    >
  </div>
  <loader [isLoading]="isLoading" [placeholderHeight]="250">
    <div class="flex gap-6 overflow-auto no-scrollbar my-4" draggableScroll>
      <item-card
        *ngFor="let album of albums"
        [title]="album.name"
        [image]="album.images[0].url"
        [subtitle]="getArtistNames(album.artists)"
        [tracksCount]="album.total_tracks"
        [routerLink]="['/album', album.id]"
      ></item-card>
    </div>
  </loader>
</div>
