<content contentTitle="Liked Songs">
  <p class="text-orange-500 font-[600]">
    {{ totalSongs }} Song<span *ngIf="totalSongs > 1">s</span>
  </p>

  <div class="mt-4">
    <div class="flex flex-col flex-nowrap border-t border-t-gray-300">
      <song-list
        *ngFor="let song of songs; let i = index"
        [song]="song"
        [playlist]="songs"
        [index]="i"
      ></song-list>

      <div class="flex items-center justify-center" *ngIf="isCanNextPage()">
        <p
          class="text-sm my-4 text-gray-500 cursor-pointer"
          (click)="onLoadMore()"
        >
          Load More
        </p>
      </div>
    </div>
  </div>
</content>
