<ng-container>
  <a routerLink="/">
    <h1 class="text-2xl font-semibold text-gray-800 dark:text-white">
      Musicify
    </h1>
  </a>
  <div class="my-8">
    <h2 class="text-md text-gray-400 dark:text-gray-500 mb-3">Menu</h2>
    <div
      *ngFor="let item of menus"
      class="flex items-center rounded-lg px-3 py-3 my-1 hover:bg-gray-50 dark:hover:bg-gray-900 gap-4 cursor-pointer"
      [routerLink]="item.path"
      [ngClass]="{
        'text-gray-700 dark:text-gray-400': !isMenuActive(item.path),
        'text-orange-500 bg-white dark:bg-slate-800': isMenuActive(item.path)
      }"
    >
      <span class="text-md w-6">
        <i [class]="item.icon"></i>
      </span>
      <span class="font-[500]">
        {{ item.label }}
      </span>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between mb-3">
      <h2 class="text-md text-gray-400 dark:text-gray-500">Your Playlists</h2>
      <button (click)="openPlaylistForm(modalTemplate)">Add</button>
    </div>
    <p class="text-center text-gray-500 text-xs" *ngIf="!playlists.length">
      No playlist added.
    </p>

    <div class="flex flex-col mb-2" *ngIf="playlists.length">
      <div
        *ngFor="let playlist of playlists"
        class="flex items-center px-1 py-2 gap-4 rounded-md cursor-pointer"
        [routerLink]="['/playlist', playlist.id]"
        [ngClass]="{
          'bg-violet-200 dark:bg-slate-800 hover:bg-violet-200 dark:hover:bg-slate-800':
            isActive(playlist.id),
          'hover:bg-violet-100 dark:hover:bg-slate-800': !isActive(playlist.id)
        }"
      >
        <div
          class="w-12 h-12 flex items-center justify-center rounded-md overflow-hidden bg-gray-200 dark:bg-gray-900"
        >
          <ng-template #iconFallback>
            <i class="fa-solid fa-plus"></i>
          </ng-template>

          <img
            *ngIf="playlist.images[0]?.url; else iconFallback"
            [src]="playlist.images[0]?.url"
            loading="lazy"
            class="object-contain"
          />
        </div>

        <div class="flex-1 min-w-0">
          <p class="truncate font-[600]">
            {{ playlist.name }}
          </p>
          <span class="text-xs text-gray-600 dark:text-gray-400"
            >{{ playlist.tracks?.total }} song<span
              *ngIf="(playlist.tracks?.total || 0) > 1"
              >s</span
            ></span
          >
        </div>
      </div>
    </div>

    <p class="text-center text-xs cursor-pointer" *ngIf="isMore">
      See all playlists
    </p>
  </div>
</ng-container>

<ng-template #modalTemplate>
  <playlist-form (cancel)="closePlaylistForm()"></playlist-form>
</ng-template>
