<div class="flex flex-col w-[280px] cursor-pointer">
  <div class="rounded-lg h-[280px] overflow-hidden mb-2 shadow-md relative">
    <img [src]="album?.images?.[1]?.url" class="object-cover" />
    <div
      class="absolute bottom-2 left-2 bg-white bg-opacity-75 rounded-full px-2 py-1 text-xs font-[600]"
    >
      {{ album?.total_tracks }} track<span
        *ngIf="isMoreThanOne(album?.total_tracks)"
        >s</span
      >
    </div>
  </div>
  <p class="truncate text-ellipsis font-bold text-gray-800">
    {{ album?.name }}
  </p>
  <p class="text-sm text-gray-500">by {{ artistNames }}</p>
</div>
