<content>
  <div
    class="bg-gray-200 relative rounded-lg h-[400px] mb-4 flex items-end overflow-hidden"
  >
    <div class="absolute inset-0">
      <img
        *ngIf="image"
        [src]="image"
        class="object-cover w-full h-[400px] object-center"
      />
    </div>
    <div
      class="bg-black bg-opacity-20 w-full h-full absolute inset-0 backdrop-blur-lg"
    ></div>

    <div class="flex items-center gap-4 m-4 z-10">
      <div class="w-[150px] h-[150px] rounded-md overflow-hidden bg-gray-300">
        <img [src]="image" class="object-contain" />
      </div>
      <div class="flex flex-col">
        <h3 class="text-3xl text-white font-bold mb-2">
          {{ title }}
        </h3>
        <p class="text-gray-200 font-[600]">
          {{ subtitle }}
        </p>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</content>
