<ng-container>
  <home-header
    class="flex items-center w-full mb-10"
    [user]="user"
  ></home-header>

  <div class="my-4">
    <h1 class="text-3xl font-[600]">For you</h1>
    <div class="flex items-center gap-4 my-2">
      <div
        *ngFor="let category of categories"
        class="cursor-pointer"
        (click)="onChangeCategory(category.value)"
      >
        <span
          class="text-sm text-gray-500"
          [ngClass]="{ 'text-orange-500 font-[500]': isActive(category.value) }"
        >
          {{ category.label }}
        </span>
      </div>
    </div>
    <home-new-albums *ngIf="activeCategory === 'albums'"></home-new-albums>
    <home-playlists *ngIf="activeCategory === 'playlist'"></home-playlists>
    <home-shows *ngIf="activeCategory === 'shows'"></home-shows>
  </div>
</ng-container>
