<div
  class="flex flex-col cursor-pointer"
  [ngClass]="{
    'w-full': fullWidth,
    'w-[280px]': !fullWidth
  }"
>
  <div class="rounded-lg h-[280px] overflow-hidden mb-2 shadow-md relative">
    <img [src]="image" class="object-cover h-[280px]" />
    <div
      *ngIf="tracksCount || tracksCount === 0"
      class="absolute bottom-2 left-2 bg-white bg-opacity-75 rounded-full px-2 py-1 text-xs font-[600]"
    >
      {{ tracksCount }} {{ trackLabel }}<span *ngIf="tracksCount > 1">s</span>
    </div>
  </div>
  <p class="truncate text-ellipsis font-bold text-gray-800">
    {{ title }}
  </p>
  <p class="text-sm text-gray-500">{{ subtitle }}</p>
</div>
